.sales-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    text-align: center;
  }
}

.contentKey {
  text-transform: uppercase;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.button-group {
  span {
    margin-left: 3px;
  }
}
